<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192158253933-qgtc0k5rret2ukl8jqbq4bgu2b0qlehh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192158253933-qgtc0k5rret2ukl8jqbq4bgu2b0qlehh</string>
	<key>API_KEY</key>
	<string>AIzaSyCwgvJ9DiOjfN-8hTOkJb2N6hoKOAv8Fek</string>
	<key>GCM_SENDER_ID</key>
	<string>192158253933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hikayat</string>
	<key>PROJECT_ID</key>
	<string>hikayat-969a7</string>
	<key>STORAGE_BUCKET</key>
	<string>hikayat-969a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192158253933:ios:1eb8bd10b0f99fb1749064</string>
</dict>
</plist>